/*-- CSS Reset --*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*----- Main Styling, this section lays down the fondations for the main structure of the content ----*/

body {
    background: #f7f7f7;
    color: #333;
    font-family: baskerville-display-pt, serif;
}

section, header, footer {
    width: 80%;
    max-width: 700px;
    margin: auto;
    padding: 0;
}

section {
    margin-bottom: 4rem;
}

.dark {
    background: #2E5559;
    padding: 3rem 0;
}

.light {
    background: #F2F0E9;
    padding: 1rem 0;
}

/*-- Typographic Styling --*/

p {
    font-family: mr-eaves-sans, sans-serif;
}

header h1, h2, p {
    color: #f7f7f7;
    padding: 2rem 0;
    font-weight: normal;
}

header h2 {
    font-style: italic;
    font-size: 2.827rem;
    font-weight: normal;
    color: #f7f7f7;
    margin-top: -4rem;
    margin-bottom: -2rem;
    text-indent: 1.5rem;
}

header p {
    padding-bottom: 4rem;
    font-size: 1.3rem;
    color: #f7f7f7;
}

h1 {
    font-size: 5.653rem;
    margin-top: 5rem;
}

h1, h2 {
    color: #2E5559;
}

p, footer {
    color: #333;
    padding: 1em 0;
    line-height: 1.4;
    font-family: mr-eaves-modern, sans-serif;
}

h2 {
    font-size: 1.999rem;
    margin: 3em 0 1em 0;
}

blockquote {
    font-style: italic;
    font-size: 1.999rem;
    color: #AABDBF;
    hanging-punctuation: first;
    text-indent: -0.9rem;
    line-height: 1.2;
}

cite {
    font-style: normal;
    font-size: 0.75em;
    color: #AABDBF;
    transition: all 0.3s ease-in-out;
}

/*-- Style Links --*/

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    border-bottom: 1px dotted;
}

/*-- Styling Nav --*/

nav {
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        background: #0A3640;
        padding: 2em 0;
        font-size: 0.75rem;
    }
    
    nav ul {
        text-align: center;
        text-transform: upper-case;
        letter-spacing: 1px;
    }
    
    nav ul li {
        display: inline;
        margin: 20px;
        background: none;
    }
    
    nav a {
        color: #f7f7f7;
    }
    
    nav a:visited {
        color: #ffffff;
    }
    
    nav a:hover {
        border-bottom: none;
        color: #ffffff;
        transition: all 0.3s ease-in-out;
    }
    
    hr{
        margin: 100px 0;
        height: 1px;
        background-color: #2E5559;
        color: #2E5559;
        border: 0 none;
    }

    /*-- Image Control --*/

    img {
        display: block;
        margin: 4em 0;
        padding: 0;
        max-width: 100%;
    }

    /*----- Footer -----*/

    footer { 
        text-align: center;
        font-size: 0.8em;
        padding: 2em 0 8em 0;
        margin: auto;
    }

    footer p {
        color: #f7f7f7;
    }

    footer a {
        color: #f7f7f7;
        margin: 0 5px;
    }

    footer a:hover {
        color: #000;
        transition: all 0.3s ease-in-out;
    }